.hero {
  position: relative;
}

.hero h3 {
  font-weight: 100;
  letter-spacing: .2rem;
}

.hero h1 {
  font-size: 6rem;
  font-weight: bold;
}

.hero h1 span {
  color: #ff014f;
}

.hero h2 {
  font-size: 5rem;
  font-weight: bold;
  color: #ff014f;
}

.hero p {
  color: #878e99;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-top: 3rem;
}

.hero_btn {
  margin-top: 20%;
}

.hero_btn h4 {
  font-weight: 500;
  letter-spacing: .2rem;
  color: #ff014f;
  font-size: 1.5rem;
  margin: 3rem 0 3rem 0;
}

.hero_btn button {
  margin-right: 3rem;
}

.hero_btn i {
  font-size: 2rem;
}

.hero_btn button img {
  width: 2rem;
  height: 2rem;
}

.hero .left {
  margin-right: 10%;
}

.hero .right {
  width: 40%;
  position: relative;
}

.hero .right_img {
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: .4rem .4rem .8rem #cbcbcb, .4rem -.4rem .8rem #fff;
  border-radius: 1rem;
  height: 58rem;
  width: 51rem;
  margin-top: 20%;
}

.hero .right_img img {
  position: absolute;
  top: 0;
  right: 10%;
  width: 51rem;
}

/* Respnsiveness */ 
@media (max-width: 768px) {
  .hero .right,
  .hero .left {
    width: 100%;
    margin-left: 2rem;
  }

  .hero .f_flex {
    flex-direction: column-reverse;
  }

  .hero .right_img {
    width: 95%;
    height: 54vh;
  }
}

@media (max-width: 768px) {
  .modal,
  .overlay {
    overflow: scroll;
  }

  .modal .modal-img {
    margin: 5rem 0 5rem 0;
  }

  .modal-content {
    flex-direction: column-reverse;
  }

  .modal .right,
  .modal .left {
    padding: 0;
  }
}