header {
  height: 10vh;
  line-height: 10vh;
}

header .container {
  padding-top: 1.5rem;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  transition: .5s;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: normal;
  padding: 0 .5rem;
}

header ul li a:hover {
  color: #ff014f;
  font-weight: 700;
  transition: all ease .2s;
  letter-spacing: .1rem;
}

.home-btn {
  padding: 1.8rem;
  border-radius: .6rem;
  transition: .3s ease all;
  cursor: pointer;
  height: fit-content;
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: .4rem .4rem .8rem #cbcbcb, .4rem, -.4rem .8rem #fff;
}

.home-btn:hover {
  background-color: #ff014f;
  color: white;
}

.open {
  display: none;
}

.header.active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #ecf0f3;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.75);
  transition: .5s;
}

.demo {
  height: 200vh;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  header ul {
    padding-top: 3rem;
  }

  .nav-link-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, .23) 0 50px 100px -20px, rgba(0, 0, 0, .3) 0 30px 60px -30px;
    left: 0;
    top: 0;
    transition: all .5s ease-in-out;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 888;
  }

  header ul li {
    width: 100%;
    transition: .5s;
    text-transform: uppercase;
    line-height: 7rem;
  }

  header .link {
    display: none;
  }

  .close,
  .open {
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    color: #ff014f;
    display: block;
    font-size: 2.5rem;
    z-index: 999;
  }

  .close {
    right: 45%;
  }

  .close.home-btn {
    color: #ff014f
    ;
    border-radius: 50%;
    padding: 0;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
  }

  .header.active {
    height: 10vh;
  }
}