.portfolio {
  position: relative;
}

.portfolio .box {
  border-radius: 1rem;
  position: relative;
}

.portfolio .box:hover {
  background: none;
  transform: translateY(0);
}

.portfolio .img {
  height: 30rem;
  overflow: hidden;
  transition: .5s;
}

.portfolio img {
  width: 100%;
  border-radius: 1rem ;
  transition: .5s;
}

.portfolio .box .img:hover img{
  transform: scale(1.2);
}

.portfolio .category {
  margin: 2rem 0 3rem 0;
  text-transform: uppercase;
}                                                                                         

.portfolio .category span {
  color: #ff014f;
  font-size: 1.3rem;
  letter-spacing: normal;
  font-weight: 500;
}

.portfolio .arrow {
  position: absolute;
  right: 3rem;
  bottom: 11%;
  transform: rotate(-45deg);
  color: #ff014f;
  opacity: 0;
  transition: .5s;
}

.portfolio .title:hover .arrow {
  opacity: 1;
}

.portfolio h2 {
  font-size: 1.8rem ;
  transition: .5s;
  padding-bottom: 3rem;
}

.portfolio .box:hover h2{
  color: #ff014f;
}

.portfolio .box:hover {
  color: #000;
}

.portfolio label i {
  margin-right: 1rem;
}

/* POPUP MODAL */
