.contact .left {
  width: 36%;
}

.contact .right {
  width: 60%;
}

.contact .box {
  padding: 3rem;
}

.contact .box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact .details h1 {
  margin: 2rem 0 2rem 0;
  font-size: 3.5rem;
}

.contact .details p {
  font-size: 1.7rem;
}

.contact .button {
  margin-top: 2rem;
}

.contact button {
  margin-right: 2rem;
}

.contact .right {
  padding: 3.5rem;
}

.contact .input span {
  font-size: 1.3rem;
}

.contact input {
  margin-top: 1rem;
}

.contact .right button {
  width: 100%;
  color: #ff014f;
}

.contact .right button:hover {
  color: #fff;
}

.contact .right button i {
  margin-left: 1rem;
}

/* Responsiveness */
@media (max-width: 768px) {
  .contact .d_flex {
    flex-direction: column;
  }

  .contact .left,
  .contact .right {
    width: 100%;
    margin-top: 5rem;
  }

  .contact img {
    width: 100%;
  }
}

