@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ecf0d3;
}

.container {
  max-width: 95%;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.f_flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn_shadow {
  padding: 1.8rem 2.5rem;
  border-radius: .6rem;
  transition: .5s;
  cursor: pointer;
  color: #000;
  background: linear-gradient(145deg, #e2e8ec, #fff);
  box-shadow: .4rem .4rem .8rem #cbcbcb, .4rem -.4rem .8rem #fff;
}

.btn_shadow:hover {
  background: #ff014f;
  color: white;
  transform: translateY(-10px);
}

.row, .left, .right {
  width: 50%;
}

.top {
  margin-top: 8rem;
}

.mtop {
margin-top: 4rem;
}

.heading {
  margin: 5rem 0 3rem 0;
}

.heading h4 {
  color: #ff014f;
  letter-spacing: .2rem;
  font-weight: 400;
}

.heading h1 {
  font-size: 6rem;
  color: #3c3e41;
}

h1 {
  color: #3c3e41;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.5rem;
}

p {
  color: #3c3e41;
}

.text-center {
  text-align: center;
}